@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');




$mulishFont: "Mulish", serif;
$sofiaFont: "Sofia Sans", serif;
$themeColor: #F1B501; //
$ash: #555454; //
$whiteColor: #fff; //
$darkbg: #555454; //
$black: #000000; //

$themeSecondaryColor: #ff7aac;
$titleColor: #121212;
$textColor: #303741;

*,
::after,
::before {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: normal;
  font-weight: 400;
  font-family: $mulishFont;
  color: $ash;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $sofiaFont;
  }

  a {
    text-decoration: none !important;
    transition: all 0.4s ease-in-out 0s;
    font-family: $mulishFont;
    color: $titleColor;

  }

  button {
    transition: all 0.4s ease-in-out 0s;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

p {
  font-family: $mulishFont;
}

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {

  .container-sm,
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {

  .container-md,
  .container-sm,
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {

  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {

  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1180px;
  }
}

// common button start 

a.button,
button.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 60px;

  font-family: $mulishFont;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;

  transition: all 0.3s ease-in;
  position: relative;
  padding: 20px 70px 20px 24px;
  border-radius: 100px;
  border: none;
  outline: none;
  text-decoration: none;

  &::before {
    content: "";
    position: absolute;
    width: 48px;
    height: 48px;
    border-radius: 100%;
    top: 6px;
    right: 3px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
  }

  &.yellow {
    background: transparent;
    color: #F1B501;
    border: 1px solid #232743;

    &::before {
      background-image: url('/images/icon-arrow.svg');
    }

    &:hover {
      color: $whiteColor;

      &::before {
        transform: rotate(45deg);
      }
    }
  }

  // &.dark {
  //   background: #464646;
  //   color: $whiteColor;

  //   &::before {
  //     background-color: #7F7F7F;
  //     background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"%3E%3Cpath d="M16.0037 9.41421L7.39712 18.0208L5.98291 16.6066L14.5895 8H7.00373V6H18.0037V17H16.0037V9.41421Z" fill="%23ffffff"/%3E%3C/svg%3E');
  //   }

  //   &:hover {
  //     background-color: $template-color;
  //     color: $small-dark;

  //     &::before {
  //       background-color: $whiteColor;
  //       background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"%3E%3Cpath d="M16.0037 9.41421L7.39712 18.0208L5.98291 16.6066L14.5895 8H7.00373V6H18.0037V17H16.0037V9.41421Z" fill="%23181818"/%3E%3C/svg%3E');
  //       transform: rotate(45deg);
  //     }

  //   }
  // }

}

.view-more-btn {
  font-size: 21px;
  line-height: 25px;
  color: #000000;
  font-weight: 700;
  font-family: $mulishFont;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
  padding: 30px 20px;
  background-color: #ececec;
  border: 1px solid #000000;
  transition: all 0.3s ease-in-out;

  &:hover {
    color: $themeColor;
  }
}

// commmon button end 

// section title common start 
.section-title {
  text-align: center;
  margin-bottom: 50px;

  p {
    font-size: 30px;
    line-height: 25px;
    color: #555454;
    font-weight: 600;
    font-family: $mulishFont;
    margin-bottom: 20px;

    @media (max-width: 1200px) {
      font-size: 24px;
      line-height: 28px;
    }

    @media (max-width: 1200px) {
      font-size: 22px;
      line-height: 26px;
    }
  }

  h2 {
    font-size: 36px;
    line-height: 30px;
    color: #010101;
    font-weight: 700;
    font-family: $mulishFont;
    margin-bottom: 30px;
    text-transform: uppercase;

    @media (max-width: 1200px) {
      font-size: 30px;
      line-height: 36px;
    }

    @media (max-width: 768px) {
      font-size: 28px;
      line-height: 34px;
    }
  }
}

// section title common end  

@import "/src/_styles/header";
@import "/src/_styles/footer";

/* HERO BANNER START */
section.hero-area {
  display: flex;
  align-items: center;
  position: relative;


  .hero-wrapper {
    width: 100%;

    .swiper {
      width: 100%;

      .wrapper-content {
        display: flex;
        align-items: center;
        position: relative;
        overflow: hidden;

        .background {
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
        }

        .hero-content {
          width: 100%;
          position: relative;
          z-index: 11;

          .text-content {
            h1 {
              color: #E1EBFB;
              font-size: 70px;
              font-style: normal;
              font-weight: 500;
              line-height: 110%;
              letter-spacing: -0.7px;
              text-transform: uppercase;

              span {
                color: $themeColor;
              }
            }

            .text {
              max-width: 295px;
              color: #A5C3FF;
              font-family: $mulishFont;
              font-size: 18px;
              font-style: normal;
              font-weight: 400;
              line-height: 160%;
              margin-top: 22px;
            }

            a.button {
              margin-top: 33px;
            }
          }

        }
      }

      .swiper-pagination {
        bottom: 35px;

        .swiper-pagination-bullet {
          width: 13px;
          height: 13px;
          border-radius: 100%;
          background: $themeColor;
          transition: all 0.3s ease-in-out;
          opacity: 1;
          margin: 0 4px;

          &.swiper-pagination-bullet-active {
            width: 16px;
            height: 16px;
            background: #545454;
            opacity: 1;
          }
        }
      }
    }

  }

  &.higher {
    min-height: 815px;

    @media (max-width: 991px) {
      min-height: 300px;
    }

    .hero-wrapper {
      .swiper-slide {
        min-height: 815px;

        @media (max-width: 991px) {
          min-height: 300px;
        }

        .wrapper-content {
          height: 100%;

          .gradient-overlay {
            position: absolute;
            // background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.40) 86.5%), linear-gradient(282deg, rgba(0, 0, 0, 0.00) 10.87%, rgba(0, 0, 0, 0.95) 53.06%);
            // background: linear-gradient(0deg, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0.85) 100%);
            top: 0;
            left: 0;
            right: 0;
            height: 100%;
            width: 100%;
            z-index: 1;

          }

        }

      }
    }
  }


}

/* HERO BANNER END */

/* WHAT IS FATX START */
section.what-is-fatx {
  .wrapper-block {
    background: #FCEDC2;
    padding: 135px 20px 55px;
    border-radius: 31px;

    .content {
      span {
        color: #232743;

        font-family: $sofiaFont;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 16px;
        display: block;
        letter-spacing: 0.07px;
        text-transform: uppercase;
        display: block;
        margin-bottom: 42px;
      }

      h2 {
        color: #02030C;
        font-size: 70px;
        font-style: normal;
        font-weight: 500;
        line-height: 110%;
        letter-spacing: -0.7px;
        text-transform: uppercase;
      }

      p {
        color: #232743;
        font-family: $mulishFont;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
        margin-top: 65px;
        max-width: 485px;
      }
    }

    .col-lg-3 {
      height: auto;
    }

    .single-item {
      text-align: center;
      border-radius: 23.898px;
      background: $whiteColor;
      padding: 57px 10px 15px 10px;
      height: 100%;

      h3 {
        color: #02030C;
        font-size: 30px;
        font-style: normal;
        font-weight: 500;
        line-height: 110%;
        /* 33px */
        letter-spacing: -0.3px;
        margin-top: 10px;
      }

      p {
        color: #232743;
        text-align: center;
        font-family: $mulishFont;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
        max-width: 249px;
        margin: 10px auto 0;

      }
    }
  }
}

/* WHAT IS FATX END */